* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    padding: 16px;
    background: #222;
    color: white;
}

main {
    padding: 20px;
}

button {
    padding: 14px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
